* {
  font-family: helvetica;
}

@font-face {
  font-family: Valorant;
  src: url("../public/Valorant Font.ttf");
}
:root {
  --primary: #fffaf1;
  --secondary: #111;
}

.dark-theme {
  --primary: #000;
  --secondary: #fff6e5;
}

::-webkit-scrollbar {
  display: none;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: var(--primary);
}

#progressBar {
  position: absolute;
  will-change: transform, opacity;
  background: linear-gradient(to top, rgb(24, 232, 187), rgb(0, 217, 255), rgb(248, 66, 215));
  transform-origin: top center;
  transform: scale(1, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  border-radius: 0px 0px 10px 10px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: var(--primary);
  overflow-x: hidden;
}

.nav-container {
  background: transparent;
  height: 10vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 9;
}
.nav-container .nav-home {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary);
  flex: 2;
}
.nav-container .nav-home a {
  text-decoration: none;
  color: var(--secondary);
  margin-left: 80px;
}
.nav-container .nav-router {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-container .nav-router a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary);
}

#moon:hover {
  cursor: pointer;
}

.ball-container {
  position: relative;
  margin: 18px 18px 18px 18px;
  height: 95vh;
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: var(--primary);
  border-radius: 20px;
  overflow: hidden;
}
.ball-container .pink-ball {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 800px;
  height: 800px;
  filter: blur(140px);
  z-index: -1;
  background: rgb(228, 44, 105);
  border-radius: 800px;
  animation: pink 4s infinite linear;
  animation-delay: 0s;
}
.ball-container .blue-ball {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 800px;
  height: 800px;
  filter: blur(160px);
  z-index: -1;
  background-color: rgb(45, 235, 166);
  border-radius: 500px;
  animation: blue 4s infinite linear;
  animation-delay: 0s;
}
.ball-container .yellow-ball {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 600px;
  height: 600px;
  filter: blur(170px);
  z-index: -1;
  background-color: rgb(52, 115, 233);
  border-radius: 500px;
  animation: green 4s infinite linear;
  animation-delay: -3s;
}

.ball-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 30%;
  left: 20%;
  z-index: 1;
  background: transparent;
  border-radius: 20px;
}
.ball-cover h1 {
  color: var(--secondary);
  font-family: PP, helvetica, arial, sans-serif;
  font-size: 40px;
  font-weight: 50;
  width: 915px;
  line-height: 45px;
}

.ball-cover::before {
  content: "";
  background: var(--primary);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  position: relative;
  width: 97vw;
  height: 95vh;
  z-index: 2;
  border-radius: 20px;
}

@keyframes pink {
  0%, 100% {
    top: 80%;
    left: 70%;
  }
  20% {
    top: -70%;
    left: 50%;
  }
  40% {
    top: 60%;
    left: 30%;
  }
  60% {
    top: 0%;
    left: 0%;
  }
  80% {
    top: 60%;
    left: 30%;
  }
}
@keyframes blue {
  0%, 100% {
    top: 70%;
    left: 20%;
  }
  20% {
    top: 30%;
    left: 90%;
  }
  40% {
    top: 70%;
    left: 0%;
  }
  60% {
    top: 0%;
    left: 0%;
  }
  80% {
    top: 50%;
    left: 100%;
  }
}
@keyframes green {
  0%, 100% {
    top: 0%;
    left: 0%;
  }
  20% {
    top: -70%;
    left: 50%;
  }
  40% {
    top: 10%;
    left: 30%;
  }
  60% {
    top: 70%;
    left: -2%;
  }
  80% {
    top: 20%;
    left: 70%;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    top: 0;
    left: 20%;
    left: 20px;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
  }
  .nav-container .nav-home {
    flex: 1;
    width: 70px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .nav-container .nav-home a {
    margin-left: 40px;
  }
  .nav-container .nav-router {
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
  }
  .nav-container .nav-router a {
    margin: 0px;
  }
}
@media screen and (max-width: 768px) {
  .ball-container {
    height: 100vh;
    width: 100vw;
    margin: 19px;
  }
  .ball-container .pink-ball {
    width: 500px;
    height: 500px;
    border-radius: 500px;
  }
  .ball-container .blue-ball {
    width: 500px;
    height: 500px;
    border-radius: 500px;
  }
  .ball-container .yellow-ball {
    width: 400px;
    height: 400px;
    border-radius: 400px;
  }
  .ball-cover {
    top: 30%;
    left: 10%;
  }
  .ball-cover h1 {
    padding-left: 10px;
    font-size: 30px;
    width: 350px;
    line-height: 35px;
  }
  .ball-cover::before {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    height: 20vh;
    align-items: center;
    justify-content: center;
  }
  .nav-container .nav-home {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .nav-container .nav-home a {
    margin-left: 40px;
  }
  .nav-container .nav-router {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
  }
  .nav-container .nav-router a {
    margin: 0px;
  }
  .ball-container {
    height: 100vh;
    width: 100vw;
  }
  .ball-container .ball-cover {
    top: 0%;
    left: 0%;
  }
  .ball-container .ball-cover h1 {
    font-size: 30px;
    width: 100vw;
    line-height: 35px;
  }
  .space {
    padding: 0px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
}

.overlay .bar {
  width: 20vw;
  height: 100vh;
  background-color: #1a1a1a;
}

.counter {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60%;
  left: 82%;
  z-index: 15;
  color: lightgray;
  font-size: 10rem;
  font-family: Valorant;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .counter {
    margin: 0;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
  .overlay {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .bar {
    padding: 0;
    margin: 0;
    width: 20vh;
    height: 100vw;
  }
}/*# sourceMappingURL=style.css.map */