* {
  font-family:  PP,helvetica;
}

// variables********
$easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

:root {
  --primary: #fffaf1;
  --secondary: #111;
}

.dark-theme {
  --primary: #000;
  --secondary: #fff6e5;
}

// scroll bar**********
::-webkit-scrollbar {
  display: none;
}


#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: var(--primary);
}


#progressBar {
  position: absolute;
  will-change: transform, opacity;
  background: linear-gradient(to top, rgb(24, 232, 187), rgb(0, 217, 255), rgb(248, 66, 215));
  transform-origin: top center;
  transform: scale(1, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  border-radius: 0px 0px 10px 10px;
}

//  body***********
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP,helvetica; 
    background-color: var(--primary);
}

// nav bar **********

.nav-container {
    background: transparent;
    height: 10vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 999;

    .nav-home {
        
        font-size: 1.1rem;
        font-weight: 500;
        color:var(--primary);
        flex: 2;
       
       
        a {
            text-decoration: none; 
            color: var(--secondary);
            margin-left: 80px;
        }
        

    }

    .nav-router {
        
         flex:1;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
        
        a {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            color: var(--secondary);  
        }

        
    }

}



// home page **********


.ball-container {
  position: relative;
  margin: 18px 18px 18px 18px;
  height:95vh ;
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  background-color:var(--primary);
  border-radius:20px;
  overflow:hidden;

  .pink-ball {
    position: absolute;
    top:-20%;
    left:-10%;
    width: 800px;
    height: 800px;
    filter: blur(140px);
    z-index: -1;
    background: rgb(228, 44, 105);
    border-radius: 800px;
    animation: pink 4s  infinite linear;
    animation-delay: 0s;
  }
  
  .blue-ball {
    position: absolute;
    top:-20%;
    left:-10%;
    width: 800px;
    height: 800px;
    filter: blur(160px);
    z-index: -1;
    background-color:rgb(45, 235, 166);
    border-radius: 500px;
    animation: blue 4s infinite linear;
    animation-delay: 0s;
  }

  .yellow-ball {
    position: absolute;
    top:-20%;
    left:-10%;
    width: 600px;
    height: 600px;
    filter: blur(170px);
    z-index: -1;
    background-color:rgb(52, 115, 233);
    border-radius: 500px;
    animation: green 4s infinite linear;
    animation-delay: -3s;
  }
}
 .ball-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 30%;
  left: 20%;
  z-index: 1;
  background: transparent;
  border-radius:20px;

  h1 {
    color: var(--secondary);
    font-family:  PP,helvetica,arial,sans-serif;
    font-size: 40px;
    font-weight: 50;
    width: 915px;
    line-height: 45px;
  }

 }

.ball-cover::before {
  
  content: "";
  background: var(--primary);
  backdrop-filter: blur(200px);
  position: relative;
  width: 97vw;
  height: 95vh;
  z-index: 2;
  border-radius:20px;
}

@keyframes pink {
    0%,
    100% {
      top: 80%;
      left: 70%;
     
    }
    20% {
      top: -70%;
      left: 50%; 
    }
    40% {
      top: 60%;
      left: 30%;
    }

    60% {
      top: 0%;
      left: 0%;
    }
    80% {
      top: 60%;
      left: 30%;   
    } 
  }


@keyframes blue {
  0%,
  100% {
    top: 70%;
    left: 20%;
   
  }
  20% {
    top: 30%;
    left: 90%; 
  }
  40% {
    top: 70%;
    left: 0%;
  }
  60% {
    top: 0%;
    left: 0%;
  }
  80% {
    top: 50%;
    left: 100%;   
  } 
}

@keyframes green {
    0%,
    100% {
      top: 0%;
      left: 0%;
     
    }
    20% {
      top: -70%;
      left: 50%; 
    }
    40% {
      top: 10%;
      left: 30%;
    }

    60% {
      top: 70%;
      left: -2%;
    }
    80% {
      top: 20%;
      left: 70%;   
    } 
  }

  // media query************************************************************************8

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar{
      width: 0px;
    }
    .nav-container {
        top: 0;
        left:20%;
        left: 20px;
        width: 100%;

        .nav-home {
          flex: 1;
          width: 70px;
       }

       
    }

    .nav-home>a {
      margin-left: 0px;
    }

 

    .nav-router {
      
      margin-bottom: 20px;
    }

    .ball-container {
        height: 100vh;
        width: 100vw;
        margin: 19px;
        .pink-ball {
            width: 500px;
            height: 500px;
            border-radius: 500px;
        }
        .blue-ball {
            width: 500px;
            height: 500px;
            border-radius: 500px;
        }
        .yellow-ball {
            width: 400px;
            height: 400px;
            border-radius: 400px;
        }
    }
    .ball-cover {
        top: 30%;
        left: 10%;
        
        h1 {
           padding-left: 10px;
            font-size: 30px;
            width: 350px;
            line-height: 35px;
        }
    }
    .ball-cover::before {
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    
  }
// ***************************** ball container end ***************************************

body p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--secondary);
    margin: 0;
    padding: 0;

}

.space {
    padding: 1000px;
    background-color: var(--primary);
}

@media screen and (max-width: 768px) {
    .nav-container {
        height: 20vh;
        align-items: center;
        justify-content: center;
        .nav-home {
            margin-left: 0px;
            margin-bottom: 20px;
        }
        .nav-router {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100vw;
            a {
                margin: 0px;
            }
        }
    }
    .ball-container {
        height: 100vh;
        width: 100vw;
        .ball-cover {
            top: 0%;
            left: 0%;
            h1 {
                font-size: 30px;
                width: 100vw;
                line-height: 35px;
            }
        }
    }
    .space {
        padding: 0px;
    }
}
  
